In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('nyc-marathon-2010.csv')
new_df = df[['runnerId', 'firstName', 'lastName', 'age', 'bib', 'birthdate', 'gender', 'overallPlace', 'overallTime']]
new_df[:]['birthdate'] = pd.to_datetime(new_df['birthdate']).astype('str')
new_df.columns = ['runnerid', 'firstname', 'lastname', 'age', 'bib', 'birthdate', 'gender', 'overallplace', 'overalltime']
new_df = new_df.drop_duplicates()

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/runner_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
# Confirm tables
engine.table_names()

['results']

In [5]:
new_df[new_df['runnerid'] == 5270432]

,runnerid,firstname,lastname,age,bib,birthdate,gender,overallplace,overalltime
4999,5270432,Uwe,Hansen,42,3893,1968-02-07,M,5000,3:30:01

In [6]:
new_df.to_sql(name='results', con=engine, if_exists='append', index=False)